div.menu-acesso, div.menu-registro{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 400px;
}
@media (width >= 80rem){
  .container-xl{
    max-width: 100vw;
  }
  
}
@media (min-width: 576px) {
    .br-menu.push .menu-footer, .br-menu.push .menu-header{
        display: block;
    }
      .br-menu .menu-header{
    display: flex!important;
    flex-direction: row;

  }
}
